{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title>Finance Bro Translator</title>
</head>

<body>
    <header>
        <div class="top-header">

            <!-- <div style="background-color:blue">
                studf
            </div>
            <div style="background-color: black;">
                more stuff
            </div> -->
            <div>
                <img src="static\css\images\suit-and-tie-icon.png" class="icon"/>
            </div>
                
            
            
                <h1 class="page-title">Finance Bro Translator</h1>
    
            
            
            

        
        </div>
        <!-- <h4 class="page-description">Welcome to Finance Bro Translator. This program will make jargon-filled speech understandable!</h4> -->
    </header>
    <div class="translation">
        <form action="/" method="post">{% csrf_token %}
            <div class="translation-input">
                {{ form }}
                <div class="record-button">
                    <button type="button" onclick="startConverting()" id="mic-button">
                        <i class="fa fa-microphone" id="mic-icon"></i>
                    </button>
                </div>
            </div>
            <input type="submit" value="Translate" class="submit-button">
        </form>
        <div class="translation-output">
            
            <!-- <div class="translation-output-text">
                {% if input_status %}{{translation}}{% endif %}
            </div> -->
            {% if input_status %}{{translation}}{% endif %}
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

    var recording = false;
    var spr = new webkitSpeechRecognition();
    spr.continuous=true;
    spr.interimResults=true;
    spr.lang='en-IN';

    function startConverting()
           {
            recording = !recording;

            if (recording) {
                document.getElementById("mic-icon").className = "fa fa-square";
                document.getElementById("mic-button").style.backgroundColor = "lightgrey";
        
                var r = document.getElementById('id_text');
                
                spr.start();
                var ftr='';

                spr.onresult=function(event){
                    var interimTranscripts='';
                    for(var i=event.resultIndex;i<event.results.length;i++)
                    {
                        var transcript=event.results[i][0].transcript;
                        transcript.replace("\n","<br>")
                        if(event.results[i].isFinal){
                            ftr+=transcript;
                        }
                        else
                        interimTranscripts+=transcript;
                    }
                    r.innerHTML = ftr + interimTranscripts;
                };
            } else {
                document.getElementById("mic-icon").className = "fa fa-microphone";
                document.getElementById("mic-button").style.backgroundColor = "white";
                spr.abort();
            }

           }
</script>

</html>