{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<head>
    <title>Finance Bro Translator</title>
</head>

<body>
    <header>
        <h1 class="page-title">Finance Bro Translator</h1>
    </header>
    <div class="translation">
        <form action="/" method="post">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Translate" class="submit-button">
        </form>
        <div class="translation-output">
            {% if input_status %}{{translation}}{% endif %}
        </div>
    </div>
</body>

</html>