@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #414a4c;
}

header {
    background-color: #025928;
    padding: 1rem;
    border-style: solid;
    border-bottom-width: 7px;
    display: flex;
    flex-direction: row;
    height: 20vh;

}


.header-text {
    padding-left: 20px;
}

h4 {
    text-align: left;

}

.icon {
    margin-top: 12px;
    width: 70px;
    height: 70px;
}


textarea {
    border-radius: 5pt;
    margin: 1rem 1rem 0 1rem;
    background-color: lightgrey;
}

.translation-input {
    border-width: 2pt;
    border-color: black;
    border-style: inset;
    border-radius: 5pt;
    margin: 1rem;
    background-color: lightgrey;
}

.translation-input button {
    font-size: 32px;
    background-color: white;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 0 0.5rem 0.5rem;
}

.translation-input button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.translation-output button {
    font-size: 32px;
    background-color: white;
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 0 0.5rem 0.5rem;
}

.translation-output button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.page-title {
    text-align: left;
    font-size: 3rem;

}

.translation {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #414a4c;
    padding-top: 15px;
    height: 80vh;
    justify-content: center;

}

.text-buttons {

    display: flex;
    flex-direction: row;
}

.submit-button {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #025928;
    border-style: solid;
    border-width: 2px;
    border-radius: 5pt;
}

.submit-button:hover {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    border-style: solid;
    border-width: 2pt;
    border-radius: 5pt;

}

.clear-button {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #025928;
    border-style: solid;
    border-width: 2px;
    border-radius: 5pt;
}

.clear-button:hover {
    margin: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-radius: 5pt;
}

.translation-output {
    margin: 1rem;
    background-color: lightgray;
    border-style: solid;
    border-radius: 5pt;
    border-width: 2pt;
    padding: 5pt;
    width: 30%;
    height: 50%;
    margin-bottom: 10px;

}

.translation-output-text {
    margin: 1rem;
    background-color: lightgray;
}

.tradingview-widget-copyright {
    display: none;
}

.switch-button {
    width: 300px;
    height: 40px;
    text-align: center;
    left: 50%;
    top: 50%;
    will-change: transform;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 100px;
    background-color: white;
    margin-left: auto;
    order: 2;
}

.switch-button-case-left, .switch-button-case-right{
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: #3E9FCA;
    position: relative;
    border: none;
    transition: 0.3s ease all;
    padding-bottom: 1px;
}

.switch-button .active {
    color: #151515;
    background-color: #3E9FCA;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-out all;
    border-radius: 100px;
}

.switch-button .active-case {
    color: white;
}